/*TODO: Add a background color or image to your website*/
body {
  background-color: #F0EEF9;
}

/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */
.header {
  background-color: #A8D0E6;
  background-image: linear-gradient(to bottom right, #F46B70, #624BD5);
}

h1 {
  color: #EAE1F8;
  font-family: Merienda;
  text-align: center;
  font-size: 3em;
  padding: 2em;
}

/*TODO: Use the * selector to reset the margin and padding to 0px*/
* {
  margin: 0px;
  padding: 0px;
}

/*TODO: Add styling rules for the text and images on your website.*/
/*Text for Home Page*/
p {
  color: #000000;
  font-size: 1.3em;
  font-family: Quicksand;
  text-align: left;
  position: absolute;
  right: 6em;
  width: 500px;
  padding: 10px;
}

/*Text for Portfolio Page*/
p1 {
  color: #000000;
  font-size: 1.3em;
  font-family: Quicksand;
  text-align: center;
  position: absolute;
  right: 16em;
  width: 600px;
}

img {
  width: 300px;
  border: 3px solid #FFFEFEFF;
  padding: 10px;
  border-radius: 13%;
}

/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/
/*NAVIGATION*/
ul {
  list-style-type: none;
  background-color: #FFFEFEFF;
  overflow: hidden;
  padding: 0.5em;
}

li {
  display: inline;
  border-right: 1px solid #bbb;
}

li a {
  text-decoration: none;
  color: #7692FF;
  font-size: 17px;
  padding: 15px;
  text-align: right;
  font-family: Quicksand;
}

li:last-child {
  border-right: none;
}

li a:hover {
  background-color: #E6EEF3;
}

/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ */
/*home page flexbox*/
.container {
  padding-top: 4em;
  padding-bottom: 3em;
  padding-left: 10em;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*portfolio flexbox*/
.things {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stuff {
  padding-top: 4em;
  padding-left: 3.5em;
  padding-bottom: 7em;
  width: 35em;
  height: 20em;
}

p2 {
  padding-top: 1.3em;
  color: #000000;
  font-size: 1em;
  font-family: Quicksand;
}
